/*.origin {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
	color: white;
}

h1 {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.btn {
	height: 75px;
	width: 125px;
	background-color: black;
	color: white;
}*/

body {
    overflow-x: hidden;
    font-family: fredoka one; 
}

#nabs {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	height: 15%;
	margin: 0;
}

#nabs div {
	height: 100%;
	display: flex;
  	justify-content: center;
  	font-size: 5vh;
  	border-top: 1px solid black;

}

#nabs a {
	text-decoration: none;
}

.btn {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 5vw;
	background-color: yellow;
	border: 1px solid black;
}

.tab-content {
	position: absolute;
	top: 15%;
	bottom: 15%;
	width: 100%;
	height: 70%;
	overflow-x: hidden;
}

.tab-content .row {
	height: 33.3333333%;
}

.col-xs-6 {
	height: 100%;
	padding: 0;
	margin: 0;
}

.top {
	position: absolute;
	top: 0;
	height: 15%;
	width: 100%;
	background-color: black;
	display: flex;
  	justify-content: center;
}

#nabs span {
	align-self: center;
}

.top h1 {
	color: yellow;
	text-align: center;
	align-self: center;
	font-size: 5vw;
}

.active {
	color: black;
	background-color: yellow;
}

.not-active {
	color: yellow;
	background-color: black;
}

.row {
	background-color: black;
}

@media screen and (min-width: 1024px) {
    body {
        visibility: hidden;
        background-color: black;
        color: yellow;
        position: absolute;
        top: 150px;
        left: 50%;
        right: 50%;
        font-size: 2vw
    }
    #large {
    	visibility: visible;
    }
}

@media screen and (max-width: 1024px) {
    #large {
        visibility: hidden;
    }
}