/*.origin {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
	color: white;
}

h1 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.btn {
	height: 75px;
	width: 125px;
	background-color: black;
	color: white;
}*/

body {
    overflow-x: hidden; 
}

#nabs {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	height: 15%;
	margin: 0;
}

#nabs div {
	background-color: black;
	height: 100%;
}

#nabs a {
	text-decoration: none;
	color: white;
}

.btn {
	width: 100%;
	height: 100%;
	color: purple;
	font-size: 60px;
}

.tab-content {
	position: absolute;
	top: 15%;
	bottom: 15%;
	width: 100%;
	height: 70%;
}

.tab-content .row {
	height: 33.3333333%;
}

.col-xs-6 {
	height: 100%;
}

.top {
	position: absolute;
	top: 0;
	height: 15%;
	width: 100%;
	background-color: black;

}

#nabs span {
	font-size: 4vh;
	padding-top: 40px;
}

h1 {
	color: white;
	text-align: center;
}

.col-xs-6 {
	padding: 0;
	margin: 0;
}
